@charset "utf-8";
/* CSS Document */

/* layout */
.page_wrap {
	width:1060px;
	margin:0 auto;
}
.m_cont{
	width:800px;
	float:left;
	display:inline;
	margin-right:20px;
	
}
aside{
	width:200px;
	float:left;
	display:inline;
	
}


.abtn_green_30{
	display:inline-block;
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	padding-left:30px;
	padding-right:30px;
	background-color:#409F89;
	border-radius:5px;
	
}
/*
form elements
table layout

*/
/* jQuery ui */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	width:80px;	
}
.form_table{
	table-layout:fixed;
	width:100%;	
}

.form_table th,.form_table td{
	vertical-align:top;
	padding-top:5px;
	padding-top:5px;
}
/* error_tip ,error */
.red{
color:#f00;	
}
.error_tip{
	display:none;	
	color:#f00;
}
.error .error_tip{
	display:block;
}
.error .input_text{
	border:1px solid #f00;
}
/* fieldset */
fieldset{
	border:none;
	padding-bottom:20px;	
	margin-bottom:20px;
	border-bottom:1px dotted #333;
}
fieldset legend{
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
	display:block;	
}
/* input */
.input_text{
	border:1px solid #999999;
	padding:1px 2px;
	height:24px;
	line-height:1em;
	width:300px;
	
}
/* textarea */
.textarea{
	border:1px solid #999999;
	padding:1px 2px;
	width:300px;
	height:80px;
}
/* label_input_wrap */
.label_input_wrap{
	position:relative;	
	display:inline-block;
}
.label_input_wrap label{
	position:absolute;
	left:4px;
	top:2px;
	line-height:24px;
}
/* header */
header {
}
header nav {
	border-bottom: 1px solid #fff;
	width: 100%;
	height: 40px;
	margin-bottom:1em;
}
header nav ul {
	overflow:hidden;
	border-bottom: 1px solid #B6B8B7;
	width: 100%;
	height:39px;
}
header nav ul li {
	float:left;
	display:inline;
	margin-right:20px;
}
header nav ul li a {
	font-size:18px;
	line-height:1.5em;
}
header nav ul li a:hover {
}
/* tags */
.tags {
}
.tags a {
	background-color:rgba(0,0,0,0.2);
	padding:5px 15px;
	margin-right:10px;
	display:inline-block;
	line-height:1.5em;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}

/* some other elements */
.demo_list_m {
	overflow:hidden;
}
.demo_list_m ul {
	overflow:hidden;
	width:1080px;
}
.demo_list_m li {
	width:340px;
	float:left;
	display:inline;
	margin-right:20px;
	margin-bottom:20px;
}
.demo_list_m li a em {
	display:block;
	margin-bottom:5px;
	font-style:normal;
}
/* demo_list_w */
.demo_list_w {
}
.demo_list_w .demo_item {
	margin-bottom:30px;
}
.demo_list_w .demo_item .view_port{
	margin-bottom:10px;	
}
.demo_list_w .demo_item .tit {
	font-size:30px;
	font-weight:bold;
	color:#444;
	text-shadow:2px 2px 2px #ccc;
	margin-bottom:10px;
}
.demo_list_w .demo_item .tags {
	margin-bottom:10px;
}



