@charset "utf-8";
/* CSS Document */
/* font : Conv_NoaLTCom-Regular */
@font-face {
 font-family: 'Conv_NoaLTCom-Regular';
 src: url('../font/en/NoaLTCom-Regular/NoaLTCom-Regular.eot');
 src: local('☺'), url('../font/en/NoaLTCom-Regular/NoaLTCom-Regular.woff') format('woff'), url('../font/en/NoaLTCom-Regular/NoaLTCom-Regular.ttf') format('truetype'), url('../font/en/NoaLTCom-Regular/NoaLTCom-Regular.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* font : Conv_NoaLTStd-BoldTab */
@font-face {
 font-family: 'Conv_NoaLTStd-BoldTab';
 src: url('../font/en/NoaLTStd-BoldTab/NoaLTStd-BoldTab.eot');
 src: local('☺'), url('../font/en/NoaLTStd-BoldTab/NoaLTStd-BoldTab.woff') format('woff'), url('../font/en/NoaLTStd-BoldTab/NoaLTStd-BoldTab.ttf') format('truetype'), url('../font/en/NoaLTStd-BoldTab/NoaLTStd-BoldTab.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* font : Conv_NoaLTStd-Light */
@font-face {
 font-family: 'Conv_NoaLTStd-Light';
 src: url('../font/en/NoaLTStd-Light/NoaLTStd-Light.eot');
 src: local('☺'), url('../font/en/NoaLTStd-Light/NoaLTStd-Light.woff') format('woff'), url('../font/en/NoaLTStd-Light/NoaLTStd-Light.ttf') format('truetype'), url('../font/en/NoaLTStd-Light/NoaLTStd-Light.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* font : Geotica2012-Regular */
@font-face {
 font-family: 'Geotica2012-Regular';
 src: url('../font/en/Geotica2012-Regular/Geotica2012-Regular.eot');
 src: local('☺'), url('../font/en/Geotica2012-Regular/Geotica2012-Regular.woff') format('woff'), url('../font/en/Geotica2012-Regular/Geotica2012-Regular.ttf') format('truetype'), url('../font/en/Geotica2012-Regular/Geotica2012-Regular.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* --------------------------------------START reset----------------------------------------- */
html, body, h1, h2, h3, h4, h5, h6, div, span, blockquote, p, address, form, fieldset, img, ul, ol, dl, dt, dd, li, table, td, th, strong, em, sup, sub, dfn, ins, del, q, cite, var, samp, code, kbd, tt, pre {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
img {
	vertical-align:bottom; /* IE6 img 3px bug fix */
}
hr {
	margin-top:10px;
	margin-bottom:10px;
	border:0;
	border-top: 1px solid #e3e3e3;
	height:2px;
	width:100%;
}
body {
	font-family:'微软雅黑',Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	-webkit-text-size-adjust:none; /* fix Chrome 12 px limit */
	color:#ccc;
	position:relative;
	background-color:#000;
}
a {
	text-decoration:none;
	color:#8C6B48;
}
a:hover {
	color: #cda865;
}
ul, ol, dl {
	list-style-image:none;
	list-style-type:none;
}
p {
	margin-bottom:10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	color: #A27079;
	margin-bottom:0.5em;
}
h1 {
	font-size:48px;
	line-height:1.2em;
}
h2 {
	font-size:36px;
    line-height:1.0em;
}
h3 {
	font-size:12px;
}
input {
	vertical-align:top;
}
input, select {
	font-family:Arial, Helvetica, sans-serif;
}
ol {
}
ol li {
	list-style-type:decimal;
	list-style-position:inside;
}
pre{
padding:10px;
border:1px solid #fff;
margin-bottom:20px; 
border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
  }
/* -----------------------------------------------END reset--------------------------------------------- */

/* ---------------------------------------------START global-------------------------------------------- */
.clf {
	clear:both;
	height:0;
	overflow:hidden;
	width:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.pt5 {
	padding-top:5px;
}
.pt10 {
	padding-top:10px;
}
.pt15 {
	padding-top:15px;
}
.pt20 {
	padding-top:20px;
}
.mt5 {
	margin-top:5px;
}
.mt10 {
	margin-top:10px;
}
.mt15 {
	margin-top:15px;
}
.mt20 {
	margin-top:20px;
}
.pb5 {
	padding-bottom:5px;
}
.pb10 {
	padding-bottom:10px;
}
.pb15 {
	padding-bottom:15px;
}
.pb20 {
	padding-bottom:20px;
}
.mb5 {
	margin-bottom:5px;
}
.mb10 {
	margin-bottom:10px;
}
.mb15 {
	margin-bottom:15px;
}
.mb20 {
	margin-bottom:20px;
}
/* START layout */
.page_wrap {
	width:1080px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.shadow {
	box-shadow:0 0 5px #333;
	-moz-box-shadow:0 0 5px #333;
	-webkit-box-shadow:0 0 5px #333;
}
.plugin_summary {
margin-bottom:20px;
}
.plugin_summary h1 {
font-weight:bold;

	}
.tags {
	margin-top:20px;
}
.tags a {
	padding:0 3px;
}
.demo_info_item{
  width:300px;
  float:left;
  display:inline;
  text-align:center;
  margin-bottom:35px;
  }
.demo_info_item .pic{
  width:300px;
  height:175px;
  overflow:hidden;
  margin-bottom:10px;
  }
.demo_info_item h2{
  font-size:16px;
  font-weight:bold;
  
  }
  
  